#footer_subscription_form {
  margin-top: -10px;
  margin-bottom: -50px;
}

#footer_subscription_label {
  font-size: 15px;
  line-height: 19px;
  opacity: 0.6;
  margin-bottom: 10px;
}

#footer_subscription_form .footer_subscription_button {
  display: block;
  padding: 8px;
  margin-top: 10px;
  width: 100%;
}
